---
import MetaPage from "@/components/MetaPage.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <MetaPage slot="head" />
    <dictionary-entry>
        <h1>Kyle's Everything Blog x Portfolio</h1>
        <img src="/static/hello.png" />
        <!-- <etymology-span>
      <ipa-span>/ˈer(y)əˌdīt/</ipa-span>
      adj. [L. <i>ēruditus</i>, instructed, pp. of <i>ērudīre</i> to instruct,
      polish, lit. to free from roughness, f. ē- out + <i>rudis</i> rough,
      untrained]
    </etymology-span>
    <ol>
      <li>
        having or showing deep, wide-ranging knowledge acquired through study;
        learned (<i>an erudite scholar</i>).
      </li>
      <li>
        (of writing, speech, or argument) reflecting such knowledge; scholarly (<i
          >an erudite footnote</i
        >).
      </li>
    </ol>
    <hr> -->

        <prose-content>
            <p>
                Hey there, I'm Kyle. I'm an undergrad CS student and offensive
                security engineer. In my spare time, I enjoy reading, doing math
                and writing code to simulate cool stuff. Like the <i
                    >Hohmann transfer</i
                > orbit which I've written about <a href="" target="_blank"
                    >here</a
                >.
            </p>
            <p>
                I participate in CTFs and math competitions from time to time,
                and you'll find a lot of my write-ups on this blog. I also
                contribute to Planet Hunters, helping analyze data from the
                Kepler Space Telescope and TESS to find exoplanets.
            </p>
            <hr />
            <p>
                I made this blog primarily to document my academic studies,
                which also doubles as a portfolio to showcase my <a
                    href="/projects">coding projects</a
                >
                and research.
            </p>
            <p>
                You can connect with me on <a href="https://github.com/ebx32?tab=repositories" target="_blank">Github</a
                > and
                <a href="https://www.linkedin.com/in/kyle-atwood/" target="_blank">Linkedin</a>. And if you're
                interested, you can grab a copy of my <a href="/static/placeholder.png" target="_blank"
                    >resume</a
                >.
            </p>
            <p>
                This blog exists thanks to <a
                    href="https://github.com/jktrn"
                    target="_blank">enscribe</a
                > who put together this solid astro theme.
            </p>
        </prose-content>
    </dictionary-entry>
</Layout>

<style>
    dictionary-entry {
        display: block;
        font-size: var(--step-0);
        color: var(--muted-foreground);

        @media (width >= 64rem) {
            margin-block-start: -0.2em;
        }

        ipa-span {
            opacity: 0.6;
        }

        h1 {
            font-size: var(--step-2);
            line-height: calc(var(--leading-offset) + 1em);
            font-weight: var(--font-weight-medium);
            color: var(--foreground);
            margin-block-end: var(--space-2xs);
        }

        ol {
            margin-block-start: var(--space-xs);
            list-style: none;

            li {
                padding-inline-start: 1em;
                text-indent: -1em;

                &::before {
                    content: counter(list-item);
                    display: inline-block;
                    inline-size: 1em;
                    text-indent: 0;
                    font-weight: var(--font-weight-medium);
                }

                + li {
                    margin-block-start: var(--space-3xs);
                }
            }
        }

        hr {
            margin-block: var(--space-m);
            border-block-start: 2px solid var(--border);
        }

        prose-content {
            margin-block-start: var(--space-xs);
        }
    }
</style>
